*{
    margin: 0;
    padding: 0;
}

#grid-container {
    width: 100vw;
    height: 100vh;
    position: relative;   
    overflow: hidden;
}

#grid-container canvas {
    position: absolute;
}

/* .dummy {
    width: 100vw;
    height: 50vh;
} */

/* .overlayinput {
    background-color: transparent;
} */


/* .mark-editor{
    width: 8px;
    height: 8px;
    background-color: #147E43;
    border: 3px solid #ffffff;
} */

.custom-scrollbar {
    position: absolute;
    background: #f0f0f0;
    z-index: 10;
}

.custom-scrollbar.horizontal {
    height: 12px;
    bottom: 0;
    left: 0;
    right: 12px;
}

.custom-scrollbar.vertical {
    width: 12px;
    right: 0;
    top: 0;
    bottom: 12px;
}

.thumb {
    background: #999;
    border-radius: 6px;
    position: absolute;
    cursor: pointer;
}

.custom-scrollbar.horizontal .thumb {
    height: 100%;
}

.custom-scrollbar.vertical .thumb {
    width: 100%;
}
