*{
    margin: 0;
    padding: 0;
}


#grid-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#grid-container canvas{
    /* position: absolute; */
    cursor: cell;
}

canvas#row_headers, canvas#col_headers, canvas#corner {
    position: fixed;
}

/* canvas.column_header , canvas.row_header{
    position: fixed;
    z-index: 99;
} */